<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qilinkeji.libsocket">

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 富媒体需要声明的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>

    <!-- 高危权限 -->


    <!-- 读写联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/> <!-- 读取联系人 -->


    <!-- 多媒体 -->
    <uses-permission android:name="android.permission.CAMERA"/> <!-- 获取拍照权限 -->


    <!-- 位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- 这个权限用于访问GPS定位 -->


    <!-- 电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/> <!-- 拨打电话 -->
    <!-- 短信 -->
    <uses-permission android:name="android.permission.READ_SMS"/> <!-- 读取短信内容 -->
    <!-- 读写 -->
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"/> <!-- 在SD卡中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- 读取内存卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 写内存卡 -->


    <!-- 基本权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>

    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>1
    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 权限声明 -->
    <!-- 允许挂载和反挂载文件系统 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 允许程序创建显示在其他程序之上，并且类型为TYPE_SYSTEM_ALERT的窗体 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 允许程序获取网络相关信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 允许程序写音频数据 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 允许程序使用PowerManager WakeLocks以防止处理器休眠或者屏幕锁屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 允许程序获取Wifi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许程序使用闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- 配置一个程序用于调试 -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 声明程序使用camera和自动对焦功能 -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <!-- VISIBILITY_HIDDEN表示不显示任何通知栏提示的权限 -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <!-- DownloadManager -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>

    <application
        android:name=".global.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.ThreadTestActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".service.OrderService"/>

        <service android:name=".service.LocationService"/>

        <service android:name=".service.CalcKmService"/>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="922b10c92866b7ea892372bad89f2cfd"/>

        <service android:name="com.amap.api.location.APSService"/>

        <service
            android:name=".travel.TravelService"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".activity.OrderActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.LineActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.OrderListActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <meta-data
            android:name="target_activity"
            android:value="com.qilinkeji.libsocket.activity.ThreadTestActivity"/>
    </application>

</manifest>